body{
    font-family: "Gill Sans", sans-serif;
    background-color:#111;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer{
  margin-top: auto;
}

img.backdrop{       /* homepage background formatting */
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

img.rightImages{    /* formatting for images shifted to the right */
    display: block;
    float: left;
    margin-top: 40px;
}

h1 {                /* h1 (header) text formatting */
    color: #FF8200;
    
    font-weight: lighter;
    font: "Gill Sans", sans-serif;
    margin-top: 2%;
    text-align: center;
}

h2 {            /* h2 (paragraph) text formatting */
    color: white;
    font-size: 160%;
    letter-spacing: 2px;
    line-height: 180%;
    font-weight: lighter;
    font: "Gill Sans", sans-serif;
    margin-top: 3%;
    text-align: center;
    padding: 3%;
}
.h2-style{
  color: white;
    
    letter-spacing: 2px;
    line-height: 180%;
    font-weight: lighter;
    font: "Gill Sans", sans-serif;
    margin-top: 3%;
    text-align: center;
    padding: 3%;
}

h3{
  color: #aaa;
  margin-top: 3%;
  margin-bottom: 0%;
  margin-left: 3%;
  margin-right: 4%;
  padding-bottom: 2%;
  text-align: left;
  
  letter-spacing: 2px;
  line-height: 180%;
  font-weight: lighter;
  font: "Gill Sans", sans-serif;
}

h4{
  color: white;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 2%;
  text-align: left;
  
  letter-spacing: 1.5px;
  line-height: 180%;
  font-weight: lighter;
  font: "Gill Sans", sans-serif;
}

h5{
  color: #ddd;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 2%;
  text-align: left;
  
  letter-spacing: 1.5px;
  line-height: 100%;
  font-weight: lighter;
  font: "Gill Sans", sans-serif;
}

.font{
  font: "Gill Sans", sans-serif;
}

.center{
    text-align: center;
}


.navBar{        /* navigation bar formatting */
    position: relative;
    top: 0px;
    background-color: #111;
    padding-top: 2%;
    padding-bottom: 5%;
}

.navBar a {
    margin-right: 0.5%;
    float: right;
    color: #FF8200;
    text-align: center;
    padding: 1.2%;
    text-decoration: none;
    /*font-size: 1.4vw; */
  }

  .navBar a:hover{
      background-color: #FF8200;
      color: #111;
  }

  .navBar a.active{
      background-color: #FF8200;
      color: #111;
  }


  .resources a:hover{
    color: #ffb24d;
}

.dropdown {
  margin-right: 4%;
  float: right;
  color: #FF8200;
  padding-bottom: 5%;
}

.dropdown .dropbtn {
  /*font-size: 1.45vw; */
  padding: 1.6vw;
  color: #FF8200;
  background-color: #111;
}

.navBar a:hover, .dropdown:hover .dropbtn {
  background-color: #FF8200;
  color: #111;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content a {
  float: none;
  /*font-size: 1.3vw; */
  color: #d66754;
  background-color: rgb(22, 22, 22);
  display: block;
  padding-top: .9vw;
  padding-bottom: 1vw;
  padding-right: .1vw;
  padding-left: 0.1vw;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f16947;
  color: #111;
}

.dropdown:hover .dropdown-content {
  display: block;
}




  pre{
    font-family: "Gill Sans", sans-serif;
    font-weight: lighter;
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 2vw;
    margin-left: 250px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column2 {
    float: left;
    width: 25vw;
    padding: 2.5vw;
    margin-left: 1vw;
  }
  
  /* Clear floats after image containers */
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }


  /* LINKS */

  a:link {
    color: #FF8200;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #FF8200;
    background-color: transparent;
    text-decoration: none;
  }

  /* dropdown menu */


.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}

.box .text{
    position: relative;
    margin-bottom: 3%;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 100%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 80%;
}


